
# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.*
.terraform/
*.tfstate
*.tfstate.*


# Executables
*.exe

# SSH Keys
*.pem

# Python / Django
__pycache__/
*.py[cod]
*.log
*.sqlite3
db.sqlite3

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Django specific
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db
